@media screen and (min-width: 1300px) {

    #content {
        font-size: 1.3rem;
    }

    .banner {
        font-size: 2rem;
    }

    .site-title {
        font-size: 4rem;
    }
    .motto {
        font-size: 2rem;
    }

    .logo {
        /* width: 150px; */
        border-radius: 75px;
    }

    nav > ul {
        margin: 0 10% 0 10%;
    }

    nav > ul > li, footer {
        font-size: unset;
    }

    main > div.hero-box > img {
        width: 100%;
        height: 500px;
    }

    main {
        width: 80%;
    }

    main section.weather-summary {
        width: 380px;
        height: 265px;
        top: 23%;
        left: 9%;
        font-size: 2rem;
    }

    .weather-summary > h3 {
        font-weight: 700;
        letter-spacing: 2px;
    }

    article .article-img {
        width: 550px;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2.3rem;
    }
    
    .map-and-contact > .map {
        width: 55%;
    }

    .contact-info > a > img {
        width: 10%;
    }

    footer > p {
        font-size: 1.7rem;
        line-height: 20px;
    }

}