body {
    background-color: #bde0fe;
    margin: 0 25%;
    text-align: center;
    padding: 1% 0;
}

h1 {
    font-family: fantasy;
    color: #023e8a;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: #800016;
}

p, #hobbies, #hoblist {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.86em;
    font-weight: 600;
    color: darkmagenta;
}

.me {
    border: 7px ridge #48cae4;
    border-radius: 50%;
    padding: 1px;
    box-sizing: border-box;
    width: 25%;
}

a {
    text-decoration: none;
    color: #ff8500;
}

a:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hobbies, #hoblist {
    text-align: left;
}

section {
    background-color: #fdffb6;
    border: 3px solid #14213d;
    border-radius: 45px;
    box-sizing: border-box;
    padding: 0 15px;
}