:root {
        --ic-brand-primary-darkened-5: #F3BA26;
--ic-brand-primary-darkened-10: #E6B024;
--ic-brand-primary-darkened-15: #D9A622;
--ic-brand-primary-lightened-5: #FFC632;
--ic-brand-primary-lightened-10: #FFC93D;
--ic-brand-primary-lightened-15: #FFCC48;
--ic-brand-button--primary-bgd-darkened-5: #F3BA26;
--ic-brand-button--primary-bgd-darkened-15: #D9A622;
--ic-brand-button--secondary-bgd-darkened-5: #545557;
--ic-brand-button--secondary-bgd-darkened-15: #4B4C4E;
--ic-brand-font-color-dark-lightened-15: #262626;
--ic-brand-font-color-dark-lightened-30: #4C4C4C;
--ic-link-color-darkened-10: #505152;
--ic-link-color-lightened-10: #68696B;
--ic-brand-primary: #FFC328;
--ic-brand-font-color-dark: #000000;
--ic-link-color: #58595b;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #3A3B35;
--ic-brand-button--secondary-bgd: #58595b;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #FFC328;
--ic-brand-global-nav-ic-icon-svg-fill: #3A3B35;
--ic-brand-global-nav-ic-icon-svg-fill--active: #EBA51B;
--ic-brand-global-nav-menu-item__text-color: #3A3B35;
--ic-brand-global-nav-menu-item__text-color--active: #EBA51B;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #3A3B35;
--ic-brand-global-nav-menu-item__badge-text: #FFFFFF;
--ic-brand-global-nav-logo-bgd: #FFC328;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/43235498/BYU-PW_Icon_White.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/43235528/BYU-PW_Icon_Gold_48px.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/43235570/favicon.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/5910206/MobileappButton.png');
--ic-brand-msapplication-tile-color: #000000;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/5910208/WindowsTile.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/5910210/WindowsTile_wide.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #ffffff;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/2/BYU-Idaho.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: #0076c6;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #525252;
--ic-brand-Login-Content-password-text-color: #0076c6;
--ic-brand-Login-footer-link-color: #d2d2d2;
--ic-brand-Login-footer-link-color-hover: #0076c6;
--ic-brand-Login-instructure-logo: #d2d2d2;
      }