h1 {color: aqua;
background-color: rgb(236,137,200);}
button {color: red;
background-color: azure ;}
p {color: lime;
background-color: #2C36F9}
body {background-color: #f62;}
/*CSS: Cascading Style Sheets-*/ 
