@media only screen and (min-width: 32.5em) {
    #content {
        height: 40%;
        width: 40%;
        box-shadow: 10px 10px 10px 2px #001f54;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .grid-div {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    img {
        width: 70%;
    }

    ul {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 1.3em;
        justify-self: start;
        align-self: center;
    }

    footer {
        line-height: 10px;
    }
}

@media only screen and (max-width: 32.5em) {

    #content {
        margin-left: 10px;
        margin-right: 10px;
    }

    footer {
        line-height: 20px;
    }

    ul, h2 {
        margin: 0;
    }

    h2 {
        padding: 10px;
    }

    img {
        margin: 20px 0 0 0;
    }

    ul {
        padding-bottom: 10px;
    }
}